@model BookShelf.Models.Book
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
ViewData["Title"]="Book Details";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@Model.Title</title>
  <link href="~/css/book-details.css" rel="stylesheet">
</head>

<body>
  <div class="details-container">
    <h2>@Model.Title</h2>
    <p>Description: @Model.Description</p>
    <p>Author: @Model.Author</p>
    <p>Publication-Date: @Model.PublicationDate</p>
    <p>Uploaded By: @Model.UploadedBy</p>
  </div>

  <div class="details-links-container">
    <a class="book-links download" asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id">Download</a>
    @if(User.Identity.IsAuthenticated && User.Identity.Name == Model.UploadedBy){
    <a class="book-links modify" asp-controller="Book" asp-action="Modify">Modify</a>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="POST">
      <button class="book-links delete">Delete</button>
    </form>
    }
  </div>
</body>

</html>
