@model List<BookShelf.Models.Book>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
    <link href="~/css/overview.css" rel="stylesheet">
  </head>

  <body>
    <div>
      <a class="add-book" asp-area="" asp-controller="Book" asp-action="AddBook">Add Book</a>

      <table>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Genre</th>
          <th>link</th>
        </tr>
        @foreach(var book in Model){
        <tr>
          <td>@book.Id</td>
          <td>@book.Title</td>
          <td>@book.Genre</td>
          <td>
            <a class="book-links" asp-route-id="@book.Id" asp-controller="Book" asp-action="Details">details</a>
            <a class="book-links" asp-route-id="@book.Id" asp-controller="Book" asp-action="Download">download</a>
          </td>
        </tr>
        }
      </table>
    </div>
  </body>

  </html>
